<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="VoteDivMapper" >
  <resultMap id="BaseResultMap" type="com.lingling.domin.votediv.VoteDiv" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="vate_topic_id" property="vateTopicId" jdbcType="VARCHAR" />
    <result column="vate_item_name" property="vateItemName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="production_pic" property="productionPic" jdbcType="VARCHAR" />
    <result column="vate_item_decrib" property="vateItemDecrib" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from vote_div
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lingling.domin.votediv.VoteDiv" >
    insert into vote_div (id, vate_topic_id, vate_item_name, 
      user_id, production_pic,vate_item_decrib)
    values (#{id,jdbcType=VARCHAR}, #{vateTopicId,jdbcType=VARCHAR}, #{vateItemName,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{productionPic,jdbcType=VARCHAR},#{vateItemDecrib,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lingling.domin.votediv.VoteDiv" >
    update vote_div
    set vate_topic_id = #{vateTopicId,jdbcType=VARCHAR},
      vate_item_name = #{vateItemName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      production_pic = #{productionPic,jdbcType=VARCHAR},
      vate_item_decrib = #{vateItemDecrib,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, vate_topic_id, vate_item_name, user_id, production_pic, vate_item_decrib
    from vote_div
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, vate_topic_id, vate_item_name, user_id, production_pic, vate_item_decrib
    from vote_div
  </select>
</mapper>